<!doctype html>
<html>
   
   <head>


<meta name="viewport" content="width=device-width, initial-scale=1.0">

      <link rel="stylesheet" href="css/bootstrap.min.css">
      <link rel="stylesheet" type="text/css" href="css/style.css">

      <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0-rc.2/angular.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.3.0/ui-bootstrap.min.js"></script>
      <script src="js/app.js"></script>
      <script src="js/ngDraggable.js"></script>

   </head>
   
  <body ng-app="directoryApp" >

<div class="container" ng-controller="directoryController">
    <div class="jumbotron">
      <h1>Angular Examples</h1> 
      <p>Examples of Data binding, search filter and Controllers</p> 
    </div>
    <div class="row">
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-body">
                <h4>Data Binding</h4>
                <input type="text" ng-model="yourName" placeholder="Enter Your name"/>
                <h5>Hey, {{yourName}}</h5>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <h3>Club Members</h3>
              <h4>Search Members</h4>
                <div ng-init="">
               <input type="text" ng-model="search" placeholder="search here" /> 

              <ul>
                  <li ng-repeat="item in list | filter:search">
                      {{item.name}} - {{item.age}}
                  </li>
              </ul>
            </div>
            </div>
          </div>
            
        </div>
    </div><!--row-->
    <div class="row">
        <div class="col-sm-6"></div>
    </div>

    <div class="row">

        <div class="col-sm-6">
          <h3>Add new members to the above list</h3>
            <div class="panel panel-default">
                <div class="panel-body">
                    <form ng-submit="addMembers()">
                        <input type="text" placeholder="name" ng-model="name" />
                        <input type="number" placeholder="age" ng-model="age"/>

                        <input type="submit" value="Add Members" /> 
                    </form>
                </div>
            </div>
        </div>

        <div class="col-sm-6">

        </div>
      
    </div>
   

    <hr>
      
   </body>
</html>